header
  .header#main-header
    .logo
      a.logo#logo-link(href="/") Teacher4You
      img#logo-img(src="Logo.png", alt="logo")
    .User-Name#Name
      span#UserFullName
    .header-right#header-right
      a#home-link(href="/") Home
      .login-btn#login-btn
        a(href="Sign-up_As_Student") Student Sign-up
        a(href="SignAsTeacher") Teacher Sign-up
        a(href="Login") Login
      .TeacherProfileButton#MyProfile
        a(href='TeacherProfile') MyProfile
      .logout-btn#Logout
        a(onclick="deleteAllCookies()") Logout
