<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="SendMail.css">
    <title>Send Email</title>
  </head>
  <body>
    <header>
      <div class="header" id="main-header">
        <div class="logo"><a class="logo" id="logo-link" href="/">Teacher4You</a><img id="logo-img" src="Logo.png" alt="logo"></div>
        <div class="User-Name" id="Name"><span id="UserFullName"></span></div>
        <div class="header-right" id="header-right"><a id="home-link" href="/">Home</a>
          <div class="login-btn" id="login-btn"><a href="Sign-up_As_Student">Student Sign-up</a><a href="SignAsTeacher">Teacher Sign-up</a><a href="Login">Login</a></div>
          <div class="TeacherProfileButton" id="MyProfile"><a href="TeacherProfile">MyProfile</a></div>
          <div class="logout-btn" id="Logout"><a onclick="deleteAllCookies()">Logout</a></div>
        </div>
      </div>
    </header>
    <p>No teacher found.</p>
  </body>
</html>