<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Tables.css">
    <title>Db</title>
  </head>
  <body>
    <h1>Please start with creating the tables before insert into</h1>
    <div class="container">
      <div class="part">
        <h2>create tables</h2>
        <h3>click from up to down
          <form action="Users" method="Get">
            <button class="btn" type="submit">Users</button>
          </form>
          <form action="Teachers" method="Get">
            <button class="btn" type="submit">Teachers</button>
          </form>
          <form action="Passwords" method="Get">
            <button class="btn" type="submit">Passwords</button>
          </form>
          <form action="TeacherSpecial" method="Get">
            <button class="btn" type="submit">TeachersSpeciality</button>
          </form>
          <form action="ViewForSearch" method="Get">
            <button class="btn" type="submit">ViewForSearch</button>
          </form>
          <form action="ViewForNewTeacher" method="Get">
            <button class="btn" type="submit">ViewForNewTeacher</button>
          </form>
          <form action="ViewFullNames" method="Get">
            <button class="btn" type="submit">ViewFullNames</button>
          </form>
        </h3>
      </div>
      <div class="part">
        <h2>insert into tables</h2>
        <h3>click from up to down</h3>
        <form action="InsertIntoUsers" method="Get">
          <button class="btn" type="submit">Users</button>
        </form>
        <form action="InsertIntoPasswords" method="Get">
          <button class="btn" type="submit">Passwords</button>
        </form>
        <form action="InsertIntoTeachers" method="Get">
          <button class="btn" type="submit">Teachers</button>
        </form>
        <form action="InsertIntoTeachersSpecial" method="Get">
          <button class="btn" type="submit">TeachersSpeciality</button>
        </form>
      </div>
      <div class="part">
        <h2>drop tables</h2>
        <h3>click from up to down
          <form action="DropPasswords" method="Get">
            <button class="btn" type="submit">Passwords</button>
          </form>
          <form action="DropTeacherSpecial" method="Get">
            <button class="btn" type="submit">TeachersSpeciality</button>
          </form>
          <form action="DropTeachers" method="Get">
            <button class="btn" type="submit">Teachers</button>
          </form>
          <form action="DropUsers" method="Get">
            <button class="btn" type="submit">Users</button>
          </form>
          <form action="DropViewForSearch" method="Get">
            <button class="btn" type="submit">ViewForSearch</button>
          </form>
          <form action="DropViewForNewTeacher" method="Get">
            <button class="btn" type="submit">ViewForNewTeacher</button>
          </form>
          <form action="DropViewForFullName" method="Get">
            <button class="btn" type="submit">ViewFullName</button>
          </form>
        </h3>
      </div>
    </div>
  </body>
</html>